* {
    margin: 0;
    padding: 0;
    outline: none;
}

@import 'vars';

body {
    font-family: 'Lato-Regular';
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

.menu {
    height: 75px;
    background-color: $bg-color_grey;
}

.container-common {
    max-width: 1140px;
    margin: 0 auto;
}

.box_menu {
    display: flex;
    flex-direction: column;

}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.box_left {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
}

.search {
    display: flex;
    position: relative;
    padding-right: 10px;
}



.search_form {
    max-width: 180px;
    height: 28px;
    position: absolute;
    left: 33px;
    opacity: 0.1;
    transition: opacity 1s;
 
    
}
.search:hover .search_form {
    opacity: 0.8;
}

.search-field {
    background-color: #fbfbfb4b;
    height: 22px;
    border: none;
    color: rgb(255, 255, 255);
}


.box_right {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.mini-menu {
    position: relative;
    padding: 15px 0px;
}
.mini-menu-basket{
    padding: 15px 0px;
}


.burger_menu {
    position: absolute;
    top: 40px;
    right: -125px;
    background-color: white;
    display: none;
    z-index: 1;
}

.burger:hover .burger_menu {
    display: block;
}

.mega_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    position: relative;

}

.mega_item_section {
    margin-top: 10px;
    position: relative;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.589);
    padding: 1px;
}

.escape {
    position: absolute;
    top: -9px;
    left: 120px;
}

.title_menu {
    font-size: 14px;
    line-height: 17px;
    color: $bg-color_grey;
    width: max-content;
}
.mega_item > .title_menu{
    align-self: center;
}
.title_section {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: $bg-rose;
    margin-top: 20px;

}

.title_section:hover {
    background-color: #6F6E6E;
}

.burger_menu__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    display: block;
    margin: 12px 0px 0px 12px;
    display: block;

}

.burger_menu__link:hover {
    color: $bg-rose;
}

.basket_menu {
    position: absolute;
    top: 75px;
    background-color:#d9d2d3;
    right: 0;
    max-width: 300px;
    z-index: 1;
    
}
.pictures{
    max-width: 55%;
    margin: 2%;
    height: 90px;
    flex-grow: 1;
    max-height: 100px;
}

.del{
    position: absolute;
    right: 2%;
    top: 2%;
    background-color: rgb(58, 52, 52);
    color: rgb(219, 193, 193);
    width: 11%;
    height: 11%;
    max-width: 50px;
    max-height: 50px;
    text-align: center;
    border: none;
    pointer-events: auto;
}

.del:hover {
    transform: skew(5deg, -5deg);
}

.summ{
    color:$bg-rose ;
}
.parth-basket{
    background-color:white ;
    text-align: center;
    margin: 15px auto 0px;
    width: 50%;
    height: 30px;
    color: $bg-rose;
    border: 1px solid $bg-rose;
    transition: 800ms;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.5s linear;
}
:hover.parth-basket {
    background-color:$bg-rose ;
    color: white;
    box-shadow: 0 0 10px #f16d7f;
}

.border-item {
    img {
        transition: transform 0.3s linear;
    }
}

.border-item:hover {
    img {
        transform: scale(1.18);
    }
}

.label {
    height: 764px;
    background-color: #F1E4E6;
}

.photo_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_font {
    display: flex;
    justify-content: center;
    max-height: 92px;
    padding-right: 100px;
    animation: anim 0.9s both;
}

.name {
    display: inline-block;
    font-weight: 900 bold;
    font-size: 48px;
    line-height: 36.6px;
    align-self: center;
    padding-top: 8px;
    padding-left: 16px;

}

.font_down_black {
    font-weight: 700 bold;
    font-size: 32px;
    line-height: 38.4px;
}

.font_down_rose {
    font-weight: 700 bold;
    font-size: 32px;
    line-height: 38.4px;
    color: $bg-rose;
}

.content {
    margin-top: 64px;
}

.clothes {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.woman-box {
    margin-right: 30px;
    position: relative;
}

.woman {
    width: 100%;
    box-shadow: none;
}

.clothes-box {
    transition: box-shadow 0.5s linear, transform 0.5s linear 0.5s;
}

.link_main {
    display: block;
}

.link_main:hover .clothes-box {
    box-shadow: 0 0 28px 4px $bg-color_grey;
    transform: scale(1.05);
}

.man-box {
    margin-right: 30px;
    position: relative;
}

.man {
    width: 100%;
}

.kids-box {
    position: relative;
}

.kids {
    width: 100%;
}

.accesories-box {
    position: relative;
}

.accesories {
    margin-top: 30px;
    width: 100%;
}

.change {
    margin-top: 96px;
}

.change_box__title {
    font-size: 30px;
    line-height: 36px;
    color: $bg-color_grey;
    text-align: center;
}

.change_box__info {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-top: 6px;
}

.position_box {
    margin-top: 48px;
    margin-bottom: 128px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.position {
    background-color: #F8F8F8;
    position: relative;
    width: 31%;
    margin-bottom: 30px;
}

.picture_position {
    width: 100%;
}

.position:hover {
    box-shadow: 0 5px 8px rgba(58, 56, 56, 0.86);
}

.position:hover .picture_position {
    filter: brightness(24%);
}

.position:hover .add_button {
    display: flex;
    pointer-events: none;
}

.button-container-common {
    display: flex;
    justify-content: center;
    margin: none;
}


.link_position {
    text-decoration: none;
}

.info_position {
    width: inherit;
    margin: 25px 17px 20px;
}

.title_position {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.overview_position {
    margin-top: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.price_position {
    margin-top: 18px;
    font-size: 16px;
    line-height: 19px;
    color: $bg-rose;
}

.add_button {
    width: 100%;
    display: none;
    position: absolute;
    top: 90px;
    justify-content: center;
    align-items: center;
}

.add_button__link {
    display: flex;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    align-items: center;
    padding: 8px;
    pointer-events: all;
    transition: box-shadow 0.3s linear;
    background-color: #e1e1e127;
}

.add_button__link:hover {
    box-shadow: 0 0 10px #FFFFFF;
}

.add_text {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 5px;
}




.title {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    size: 16px;
    line-height: 19.2px;
    color: white;
    width: fit-content;
}


.rose_words {
    size: 24px;
    line-height: 28.8px;
    color: $bg-rose;
}


.footer {
    background-color: $bg-color_grey;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
}

.top_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    width: 100%;
    padding: 103px 0px;
    box-sizing: border-box;
}

.top_footer__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 360px;
    text-decoration: none;
}

.footer_title {
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-size: 19.5px;
    line-height: 24px;
    color: #FBFBFB;
}

.footer_info {
    display: inline-block;
    text-align: center;
    font-weight: $weight-font-light;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}

.middle_footer {
    background-image: url(Pictures/subscribe.jpg);
    width: 100%;
    height: 448px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(244, 244, 244, 0.7);

}

.middle_footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.speech {
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $bg-color_grey;
}

.massage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speech {
    display: inline-block;
    text-align: center;
    max-width: 360px;
}

.letter {
    max-width: 557px;
}

.form_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: $bg-color_grey;
}

.form_title__bottom {
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    color: $bg-color_grey;
}

.forms {
    max-width: 356px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 32px auto 0px;

}

.forms_box {
    background-color: #E1E1E1;
    height: 50px;
    flex-grow: 1;
    border-radius: 24px 0 0 24px;
    display: flex;
    align-items: center;
    padding: 7px 64px 7px 22px;
    box-sizing: border-box;
}


.send {
    font-size: 25px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $bg-color_grey;
    opacity: 0.67;
    background-color: #E1E1E1;
    border: none;
    font-family: sans-serif;
}

.subscribe {
    width: 100px;
    height: 100%;
    border-radius: 0 24px 24px 0;
    border: none;
    background-color: $bg-rose;
    color: #E1E1E1;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-family: sans-serif;
    transition: color 1s linear;
}

.subscribe:hover {
    color: $bg-color_grey;
    cursor: grab;
    border: 1px solid;
}

.down-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

.copyright {
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;
    flex-grow: 1;
    margin-left: 7px;
}

.messangers {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link_messengers {
    margin-right: 7px;
    width: 32px;
    height: 32px;
    background-color: #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s linear, transform 1s;
}

.link_messengers:hover {
    background-color: $bg-rose;
    transform: rotate(15deg);
}

.button_buy {
    display: block;
    margin: 0 auto 5px;
    padding: 0px 5%;
    width: 45%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(55, 36, 70);
    color: rgb(255, 208, 208);
    border: 1px solid rgb(255, 208, 208);
    transition: 500ms;
}

.button_buy:hover {
    border: 1px solid rgb(55, 36, 70);
    background-color: rgb(255, 208, 208);
    color: rgb(55, 36, 70);
    transform: scale3d(1.05, 1.01, 1.02);
}

.alarm {
    color: rgb(61, 13, 151);
    size: 30px;
    text-align: center;
    margin: 20vh;
}

/* css for products */
.header_bottom {
    height: 148px;
    background-color: #F8F3F4;
}

.bread_crumbs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.folder {
    font-size: 24px;
    line-height: 29px;
    color: $bg-rose;
    margin-bottom: 0;
}

.bread_crumds__right {
    display: flex;
    justify-content: center;
    align-items: center;

}

.link_to {
    text-decoration: none;
    font-weight: 700, Bold;
    font-size: 14;
    line-height: 17px;
    color: #4D4D4D;
}

.end_folder {
    text-decoration: none;
    font-weight: 700, Bold;
    font-size: 14;
    line-height: 17px;
    color: $bg-rose;
    margin-bottom: 0;
}

.end_folder_300 {
    text-decoration: none;
    font-weight: $weight-font-light, Bold;
    font-size: 14;
    line-height: 17px;
    color: $bg-rose;
    text-align: center;
    padding-top: 64px;
}

.link_to:hover {
    color: $bg-rose;
}

.content-product {
    margin-bottom: -30px;
    background-color: #F7F7F7;
}

.top-content_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 777px;
}

.arrow_button:hover .arrow {
    background-color: rgba(49, 49, 49, 0.15);
    box-shadow: 0 0 28px rgba(65, 65, 65, 0.30);
    animation: jello-horizontal 0.9s both 0.3s;
}

.arrow {
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s linear, box-shadow 0.3s linear;
}

.product_picture {
    max-width: 597px;
    max-height: 724px;
}

.photo_product {
    width: 100%;
}

.info {
    top: 712px;
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
    box-sizing: border-box;
}

.line-mini {
    width: 63px;
    height: 3px;
    color: $bg-rose;
    background-color: $bg-rose;
    margin-top: 12px;
}

.product_name {
    font-size: 18px;
    line-height: 22px;
    font-weight: $weight-font-light, bold;
    color: #4D4D4D;
    margin-top: 12px;
}

.box_overviev {
    max-width: 555px;
    margin-top: 48px;
}

.overview_position_product {
    text-align: center;
}

.line-maxi {
    width: 641px;
    height: 1px;
    color: #4D4D4D;
    background-color: #4D4D4D;
    margin-top: 65px
}

.option-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 18px;
    margin-top: 65px;
    margin-bottom: 48px;

}

.option {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.option:hover .arrow_summary {
    color: $bg-rose;

}

.last_option {
    margin-right: 0px;
}

.option_link {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.option_link:hover {
    color: #000000;
    background-color: #9F9F9F;
}

.arrow_summary {
    display: block;
    font-family: 'Lato';
    color: #6F6E6E;
}

.arrow_summary-first {
    min-width: 160px;
    box-sizing: border-box;
}

.arrow_summary:hover {
    color: $bg-rose;
}

.arrow_summary::-webkit-details-marker {
    display: none;
}

.arrow_summary::after {
    padding-left: 9px;
    content: '\25BC';
    padding-right: 0.5em;
}

details[open]>summary::after {
    content: '\25B2';
}

.product_prise {
    font-size: 24px;
    line-height: 29px;
    font-weight: 300 bold;
    color: $bg-rose;
    margin-top: 32px;
}

.add_product_to_card_button {
    display: flex;
    padding: 14px 38px;
    justify-content: center;
    align-items: center;
    border: 1px solid $bg-rose;

    text-decoration: none;
    transition: box-shadow 0.5s linear;
}

.add_product_to_card_button:hover {
    background-color: $bg-rose;
    box-shadow: 0 0 10px $bg-rose;
}

.add_picture_rose {
    margin-right: 23px;
    transition: all 0.5s linear;
}

.add_text_rose {
    font-size: 16px;
    line-height: 19px;
    color: $bg-rose;
    transition: color 0.5s linear;
}

.add_picture_white {
    display: none;
    margin-right: 23px;
}

.add_product_to_card_button:hover .add_picture_rose {
    display: none;
}

.add_product_to_card_button:hover .add_picture_white {
    display: block;
}

.add_product_to_card_button:hover .add_text_rose {
    color: white;
}
.add_text_rose-basket{
    color: $bg-rose;
    transition: 800ms;
}
.parth-basket:hover .add_text_rose-basket{
    color: white;
    
}


/* css for catalog */
$width_top_menu: 1140px;

.top-content-catalog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 39px;

}

.top-content-catalog_box {
    width: $width_top_menu/3;

}

.top-content-catalog_box__center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 18px;
    width: fit-content;

}

.big-choise-box {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    background-color: white;
    padding: 10px 0px;
    box-sizing: border-box;
    z-index: 1;
}

.choise-box {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 4px 10px;
    width: 80px;


}

.option_name {
    display: block;
    margin-bottom: 0;
    margin-left: 11px;
    width: fit-content;
}

.mini-menu_filter {
    display: flex;
    align-items: center;
}

.mini-menu_filter:hover {
    color: $bg-rose;
}

.mini-menu_filter:hover .filters-img {
    display: none;
}

.filters-img-rose {
    display: none;
    margin-left: 11px;
}

.mini-menu_filter:hover .filters-img-rose {
    display: block;
}

.filters-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    // color: $bg-rose;
}

.filters-img {
    margin-left: 11px;
}

.filters_burger_menu {
    margin-top: 0px;
    left: 0px;
}

.filters_mega_item {
    margin-top: 0px;
}

.filters_mega_item_section {
    margin-top: 0px;
}

.filters_box-menu {
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
    margin-top: 18px;
}

.filters_box-menu-hov {
    display: none;
}

.filters_mega_item_section:active .filters_box-menu-hov {
    display: block;
}

.filters_box-menu-hov:hover {
    display: block;
}

.box-mini {
    height: 37px;
}

.filters-title_section {
    font-size: 14px;
    line-height: 17px;
}

#choise-trand {
    margin-left: 11px;
}

.change-catalog {
    margin-top: 70px;
}

.position_box_catalog {
    margin-bottom: 18px;
}

.pagination {
    justify-content: center;
    margin-bottom: 30px;

}

.pagination-box {
    border: 1px solid #EBEBEB;
    border-radius: 6px;
}

.page-link {
    color: $bg-color_grey;
    border: none;
}

.page-link:hover {
    color: $bg-rose;
}

p {
    margin-bottom: 0px;
}

a:hover {
    color: $bg-rose;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
}

/* css for registration */
.box-registration {
    display: flex;
    justify-content: space-between;
}

.data {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 40px 0px 31px 17px;
}

.form-section {
    font-size: 16px;
    line-height: 19px;
    color: $bg-color_grey;
    font-weight: 300;
    font-family: 'Lato-Light';

}

.input-form {
    margin-top: 20px;
    width: 100%;
    height: 45px;
    padding: 0px 16px;
    box-sizing: border-box;
    border: 1px solid #A4A4A4;
}

.input-form::-webkit-input-placeholder {
    color: #B1B1B1;
}

.input-form-radio {
    margin: 30px 0px;
}

.hint {
    font-size: 11px;
    line-height: 13px;
}

.password-info {
    margin-top: 15px;
    color: #B1B1B1;
}

.button-form {
    margin-top: 40px;
    color: white;
    background-color: $bg-rose;
    width: 167px;
    height: 50px;
    font-size: 14px;
    line-height: 17px;
    border: 0px;
    transition: color 0.5s linear, background-color 0.5s linear;

}

.button-form:hover {
    color: $bg-rose;
    background-color: white;
    border: 1px solid $bg-rose;

}

.percks {
    width: 652px;
    margin-left: 20px;
    margin-top: 40px;
}

.title-perks {
    @include texts (24px, 29px, #000000, 'Lato-Light', 300);
}

.info-perks {
    margin-top: 22px;
    @include texts (24px, 29px, #000000, 'Lato-Light', 300);
}

.list-perks {
    list-style-position: inside;
}

.item-perks {
    margin-top: 21px;
    @include texts (24px, 29px, #000000, 'Lato-Light', 300);
    list-style-image: url(Pictures/Item.svg);
}

/* css for Cart */

.main-container {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}

.left-main-container {
    width: 57%;
}

.purhases-item {
    width: 100%;
    display: flex;
    box-shadow: 10px 10px 10px #EAEAEA;
    margin-bottom: 40px;
    position: relative;
}


.purchases-item-image {
    max-width: 262px;
    height: 306px;

    img {
        width: 100%;
    }
}

.purchases-item-info {
    padding: 22px 30px;
    box-sizing: border-box;
    max-width: 270px;
}

.purchase-escape-link {
    position: absolute;
    top: 5%;
    left: unset;
    right: 7%;
}

.purchase-escape {
    position: absolute;
    transition: transform 0.3s linear;
    padding: 8px;
}

.purchase-escape:hover {
    transform: scale(1.4);
}

.purchases-name {
    @include texts (24px, 29px, $bg-color_grey, "Lato-regular", 400)
}

.purchases-list-attributes {
    margin-top: 36px;
    list-style: none;
    @include texts (22px, 26px, #575757, "Lato-regular", 400);
}

.attribute-prise {
    margin-top: 42px;
}

.prise-in {
    @include texts (22px, 26px, $bg-rose, "Lato-Regular", 400);
}

.attributes {
    margin: 6px 0px;
}

.ammount-in {
    max-width: 43px;
    text-align: center;
    margin-left: 24px;
}

.purchases-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 72px;
}

.purchases-button-redact {
    @include texts(14px, 17px, #000000, "Lato normal", 300);
    padding: 16px 40px;
    transition: 0.5s linear;
}

.purchases-button-redact:hover {
    color: #E1E1E1;
    background-color: $bg-rose;
    box-shadow: 0 0 10px $bg-color_grey;
}

.right-main-container {
    max-width: 360px;
    margin-right: 10px;
}

.heading-delivery-adress-form {
    @include texts(16px, 19px, #222222, "Lato light", 300);
    margin-top: 10px;
}

.purchases-button-redact {
    margin-top: 24px;
    @include texts(11px, 13px, #4A4A4A, "Lato light", 300);
    padding: 10px 13px;
    background-color: white;
    color: #A4A4A4;
    border: 1px #A4A4A4 solid;
}

.total-prise {
    margin-top: 57px;
    max-width: 360px;
    height: 214px;
    background-color: #F5F3F3;
    text-align: end;
    padding: 40px 44px;
    box-sizing: border-box;
}

.subtotal-prise {
    @include texts(11px, 13px, #4A4A4A, "Lato regular", 400);
}

.grandtotal-prise {
    margin-top: 12px;
    @include texts(13px, 19px, #4A4A4A, "Lato light", 300);
}

.grandtotal-prise-rose {
    @include texts(13px, 19px, $bg-rose, "Lato bold", 700);
}

.line-maxi-little {
    width: 275px;
    color: #E2E2E2;
    height: 1px;
    background-color: #E2E2E2;
    border: none;
    margin: 21px auto 17px;
}

.button-form-prise {
    width: unset;
    padding: 15px 40px;
    margin: 17px auto 0px;
    @include texts(16px, 19px, white, "Lato light", 300);
    border: 1px $bg-rose solid;
}

.button-form-prise:hover {
    width: unset;
}

@media (max-width:1023px) {

    // media 1024px from index
    .box {
        margin: auto 32px;
    }

    .burger_menu {
        right: -157px;
    }

    .label {
        height: 368px;
    }

    .photo_box {
        height: 100%;
        justify-content: space-around;
    }

    .photo {
        height: 100%;
    }

    .font_down_black {
        font-size: 24px;
        line-height: 28px;
    }

    .font_down_rose {
        font-size: 24px;
        line-height: 28px;
    }

    .logo_font {
        padding-right: 5%;
    }

    .content {
        margin: 0px;
    }

    .woman-box,
    .accesories-box,
    .man-box,
    .kids-box {
        margin: 16px;
    }

    .accesories {
        margin-top: 0px;
    }

    .position {
        width: 48%;
        margin-bottom: 16px;
    }

    .position_box {
        margin-bottom: 33px;
    }

    .footer {
        height: unset;
    }

    .top_footer {
        flex-direction: column;
        height: 610px;
        justify-content: space-around;
        padding: 50px 0px;
    }

    .top_footer__box {
        height: 28%;
        justify-content: space-around;
    }

    .middle_footer {
        height: unset;
        background-size: cover;
    }

    .middle_footer__wrapper {
        flex-direction: column;
    }

    .massage {
        margin: 50px 0px;
    }

    .forms {
        margin-bottom: 140px;
    }

    // for product
    .bread_crumbs {
        margin: auto 32px;
    }

    .content-product {
        margin-bottom: 0px;
    }

    .product_picture {
        max-width: 466px;
        max-height: 624px;
    }

    .top-content_product {
        height: auto;
    }

    .position-last {
        display: none;
    }

    //for catalog
    .top-content-catalog {
        margin: 24px 32px 0px;
    }

    .change-catalog {
        margin-top: 40px;
    }

    .top-content-catalog_box:last-child {
        display: none;
    }

    .filters_burger_menu {
        left: 0px
    }

    //for registration
    .perks {
        font-size: 16px;
        line-height: 19px;
    }

    .item-perks,
    .info-perks,
    .title-perks {
        font-size: 16px;
        line-height: 19px;
    }

    //for cart
    .main-container {
        margin-top: 59px;
        flex-direction: column;
        align-items: center;
    }

    .left-main-container {
        width: 96%;
    }

    .purchases-buttons {
        margin-top: 62px;
        justify-content: center;
    }

    .clear {
        margin-right: 6%;
    }

    .right-main-container {
        max-width: 96%;
        margin-right: 0px;
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
    }

    .delivery-adress {
        width: 48%;
        max-width: 360px;
    }

    .total-prise {
        margin-top: 48px;
        width: 48%;
    }

    .button-form-prise {
        min-width: max-content;
    }

}

@media (max-width: 767px) {

    .registr,
    .basket {
        display: none;
    }

    .box_right {
        justify-content: end;
    }

    .burger_menu {
        right: -30px;
    }

    .photo {
        display: none;
    }

    .logo_font {
        padding-right: 0px;
    }

    .content {
        margin-top: 64px;
    }

    .clothes {
        flex-direction: column;
    }

    .accesories {
        min-height: 100px;
    }

    .woman-box,
    .accesories-box,
    .man-box,
    .kids-box {
        margin: 0px 16px 16px 16px;
    }

    .change {
        margin-top: 64px;
    }

    .position {
        width: 95%;
    }

    .down-footer {
        height: 143px;
        flex-direction: column-reverse;
        justify-content: space-between;
        flex-grow: unset;
    }

    .messangers {
        margin-top: 43px;
    }

    .copyright {
        flex-grow: unset;
        margin-bottom: 9px;
    }

    //for product
    .line-maxi {
        width: 50%;
    }

    .bread_crumbs {
        flex-direction: column;
    }

    .bread_crumds__left {
        margin-top: 24px;
    }

    .bread_crumds__right {
        margin-bottom: 45px;
    }

    .arrow_summary {
        font-size: 10px;
        line-height: 12px;
    }

    //for catalog
    .filters-text {
        display: none;
    }

    .filters-img,
    .filters-img-rose {
        width: 38px;
    }

    .arrow_summary-first {
        min-width: 105px;
    }

    .option_name {
        font-size: 11px;
    }

    //for registration
    .box-registration {
        flex-direction: column;
        align-items: center;
    }

    .percks {
        width: auto;
    }

    // for cart
    .main-container {
        margin-top: 39px;
    }

    .bread_crumds__left_mod {
        margin: auto;
    }

    .purhases-item {
        margin-bottom: 32px;
    }

    .purchases-name {
        font-size: 16px;
        line-height: 19px;
        max-width: 140px;
    }

    .purchases-item-image {
        max-width: 35%;
        height: auto;
    }

    .product-link-img {
        height: 100%;
    }

    .purchases-list-attributes,
    .prise-in {
        font-size: 14px;
        line-height: 17px;
    }

    .right-main-container {
        margin-top: 48px;
        flex-direction: column;
    }

    .right-main-container {
        align-items: center;
    }

    .delivery-adress {
        width: 96%;
        max-width: none;
    }

    .total-prise {
        max-width: none;
        width: 96%;
    }

}